@charset "UTF-8";

/* CSS Document */

/*copyright webdesignCaracas 2016 joseTineo*/

/* vision Tecnologica color palette
#4C4341     rgb(76, 67, 65)  ASH
#646266      rgb(100, 98, 102)  DULL GRAY
#7B798F     rgb(88, 152, 211)  PEWTER BLUE// transparencia banner del header
#ADA982    rgb(173, 169, 130)  DARK TAN
#D8D5BC   rgb(216, 213, 188)  MED TAN
#EDE4D6   rgb(237, 228, 214)  LIGHT formulario contacto
#667F6A     rgb(102, 127, 106)  DARK GREEN
*/
/*Fonts*/
@font-face {
	font-family: 'Cantarell';
	src: url('../_fonts/Cantarell-Regular-webfont.eot');
	src: url('../_fonts/Cantarell-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../_fonts/Cantarell-Regular-webfont.woff') format('woff'), url('../_fonts/Cantarell-Regular-webfont.ttf') format('truetype'), url('../_fonts/Cantarell-Regular-webfont.svg#webfont9UOzsjXz') format('svg');
	font-weight: normal;
	font-style:normal;
}

@font-face {
	font-family: 'Cantarell';
	src: url('../_fonts/Cantarell-Oblique-webfont.eot');
	src: url('../_fonts/Cantarell-Oblique-webfont.eot?#iefix') format('embedded-opentype'), url('../_fonts/Cantarell-Oblique-webfont.woff') format('woff'), url('../_fonts/Cantarell-Oblique-webfont.ttf') format('truetype'), url('../_fonts/Cantarell-Oblique-webfont.svg#webfontRl4nowrT') format('svg');
	font-weight: normal;
	font-style:italic;
}

@font-face {
	font-family: 'Cantarell';
	src: url('../_fonts/Cantarell-Bold-webfont.eot');
	src: url('../_fonts/Cantarell-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../_fonts/Cantarell-Bold-webfont.woff') format('woff'), url('../_fonts/Cantarell-Bold-webfont.ttf') format('truetype'), url('../_fonts/Cantarell-Bold-webfont.svg#webfontKr2CkGZp') format('svg');
	font-weight: bold;
	font-style:normal;
}

@font-face {
	font-family: 'Cantarell';
	src: url('../_fonts/Cantarell-BoldOblique-webfont.eot');
	src: url('../_fonts/Cantarell-BoldOblique-webfont.eot?#iefix') format('embedded-opentype'), url('../_fonts/Cantarell-BoldOblique-webfont.woff') format('woff'), url('../_fonts/Cantarell-BoldOblique-webfont.ttf') format('truetype'), url('../_fonts/Cantarell-BoldOblique-webfont.svg#webfontQ1aSR0ux') format('svg');
	font-weight: bold;
	font-style:italic;
}

@font-face {
	font-family: "Cardo";
	src: url("../_fonts/Cardo99s-webfont.eot");
	src: url("../_fonts/Cardo99s-webfont.eot?#iefix") format("embedded-opentype"), url("../_fonts/Cardo99s-webfont.woff") format("woff"), url("../_fonts/Cardo99s-webfont.ttf") format("truetype"), url("../_fonts/Cardo99s-webfont.svg#webfontQ5EXXZTZ") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OstrichSansBold';
	src: url('../_fonts/ostrich-bold-webfont.eot');
	src: url('../_fonts/ostrich-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../_fonts/ostrich-bold-webfont.woff') format('woff'), url('../_fonts/ostrich-bold-webfont.ttf') format('truetype'), url('../_fonts/ostrich-bold-webfont.svg#OstrichSansBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*Global styles -----------------------------------------------------------------------------------------------------------*/

/*limited reset*/
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align:baseline;
	font: inherit;
}

/*html5 display rule*/
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {
	display: block;
}
/*micro-clearfix by Jose Tineo http://josetineo90.arredemo.org/micro-clearfix-hack/*/
/* For modern browsers */
.cf:before, .cf:after {
	content:"";
	display:table;
}

.cf:after {
	clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
	zoom:1;
}

a {
	text-decoration: none;
	color: #667F6A;
	border-bottom: 1px dotted #667F6A;
}

a:hover {
	color: #7B798F;
	border-bottom: 1px solid #7B798F;
}

a:focus {
    outline: thin dotted;
}

a img {
	border: none;
	outline: 0;
}

.preview a {
	display: block;
	height:100%;
}

.preview a:hover {
	border: none;
}

a.phone {
	border: none;
	color: inherit;
}

a.phone:hover {
	border: none;
	color: inherit;
	cursor: default;
}

html {
	background: rgb(123, 121, 143);
}

body {
	font: 100% Roboto, Arial, Helvetica, sans-serif;
	line-height: 1.6;
	background: #fff;
	color: rgb(76, 67, 65);
	font-weight:normal;
	font-style:normal;
}

/*---------para slider-----------------------------*/
.clearfix:before, .clearfix:after {
	content: "";
	display: table;

}
.clearfix:after {
	clear: both;
}

.clearfix {
	zoom:1;
}


img,video,object {
	max-width: 100%;
}


.container {
	width: 960px;
	margin:  auto;
	height: 320px;
	line-height: 100%;
}


/*----------------Menu GLOBAL--------------------------------*/
#menu  a :active {
		background-color: #f69322;
	}


#menu {

		height: auto;
		width: 100%;
		overflow: hidden;
		font-weight: bold;
		/*border-bottom: 1px solid #5898d3;*/
}

#menu ul {

	padding: 0;
	height: 50px;
	width: 600px;

}

#menu li {
	display: inline;
	float: left;
	background-color: #75cfe5;
}

#menu a {
	border-right: 1px solid #576969;
	color: #fff;
	display: inline-block;
	width: 100px;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	text-shadow:  1px 1px 0px #283744;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing: border-box;
}


#menu li:last-child a {
	border-right: 1%;
}

#menu a:hover, #menu a:active {
	background-color: #283744;
}

#menu a#pull {

	display: none;
}

#slideshow {
	width: 100%;
	height: auto;
}

.slide {
	max-width: 100%;
	height: auto;
}

/*FIN DEL MENU*/

nav ul {
	list-style: none;
}

/* mission styles*/
.mission h1 {
	text-transform: uppercase;
}

/*article styles*/
article section {
	border-bottom: 2px solid rgb(76, 67, 65);
	margin-bottom: 2em;
}

article h1 {
	font: 1.8em Cardo, Georgia, serif;
	border-bottom: 2px solid rgb(76, 67, 65);
	margin-bottom: 1.5em;
}

article h2 a {
	color: rgb(76, 67, 65);
	border: none;
}

article h2 a:hover {
	color: rgb(123, 121, 143);
	border: none;
}

.preview a, .preview a:hover {
	display: block;
	border: none;
}

/*gallery styles*/
.gallery {
	margin-top: 2em;
}

.gallery h1 {
	background: none;
	padding: 0;
	border: none;
	margin: 0;
}

.intro p {
	font-size: 1em;
	margin: 0 0 1em;
}

.gallery ul, .gallery li {
	list-style: none;
	margin: 0;
	padding: 0;
}
/*contact styles*/
#contact h1 {

	background-position: right -390px; 
	margin-bottom: 1em;
}

#contact h2 {
	font-size: 1.4em;

}

#contact h3 {
	font-size: 1em;
	border-bottom: 1px solid rgb(76, 67, 65);
	margin: 1em 0 .5em;
}

#contact ul {
	list-style: none;
}

#contact ul li {
	margin-bottom: 1em;
	width: 44%;
	display: inline-block;
}

#contact li a {
	color:rgb(76, 67, 65);
	border: none;
	padding-left: 40px;
	line-height: 50px;
	font-size: 1.2em;
	display:block;
}

#contact li a:hover {
	color: rgb(123, 121, 143);
}
/*form styles*/
fieldset {
	border: none;
	background: rgb(203, 227, 239); /* color formulario contacto*/
	position: relative;
	min-width: 250px;
	padding:1em;
	margin: 1em 0;
	-webkit-border-radius: 0 .5em .5em 0;
	-moz-border-radius: 0 .5em .5em 0;
	border-radius: 0 .5em .5em 0;
}

fieldset:before {
	content:attr(title);
	display: block;
	font: 1.2em Roboto, Arial, Helvetica, sans-serif;
	font-weight:bold;
	border-bottom: 1px solid rgb(76, 67, 65);
	width: 100%;
}

legend {
	position: absolute;
	top:0;
	left: -2000em;
}

fieldset p {
	font: .8em Roboto, Arial, Helvetica, sans-serif;
	margin: 1em 0 0;
	font-style: italic;
}

label {
	display:block;
	font-size: 1em;
	margin: .8em 0 0;
}

input[type="submit"] {
	display:block;
	margin: 1em 0;
}

.inline {
	display: inline;
}

/*aside styles*/
aside h2 {
	font-family: Cardo, Georgia, serif;
}

.enter a {
	border: 1px solid #999;
	margin: 1em 0 1.5em;
	color: rgb(76, 67, 65);
	width: 5em;
	height: 1.4em;
	line-height: 1.4em;
	text-align: center;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	background: rgb(226,226,226);
	background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(50%, rgba(219,219,219,1)), color-stop(51%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* W3C */
}

.enter a:hover {
	background: rgb(254,254,254); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(209,209,209,1) 49%, rgba(219,219,219,1) 50%, rgba(226,226,226,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(49%, rgba(209,209,209,1)), color-stop(50%, rgba(219,219,219,1)), color-stop(100%, rgba(226,226,226,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(209,209,209,1) 49%, rgba(219,219,219,1) 50%, rgba(226,226,226,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(209,209,209,1) 49%, rgba(219,219,219,1) 50%, rgba(226,226,226,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(209,209,209,1) 49%, rgba(219,219,219,1) 50%, rgba(226,226,226,1) 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e2e2e2', GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(254,254,254,1) 0%, rgba(209,209,209,1) 49%, rgba(219,219,219,1) 50%, rgba(226,226,226,1) 100%); /* W3C */
}
.contest h3 {
	font-weight: bold;
}
#pageFooter {
	background: rgb(44,162,221);
	padding-top: 1.5em;
}


/********mobile styles****************************************/
@media only screen and (max-width:480px) {

/*disable text sizing on orientation change*/
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr {
	-webkit-text-size-adjust:none;
}
.photoGallery .justify {
	font-size: 1em;
	margin: 2em;
	width: 85%
}
	
@media screen and (max-width: 480px) {

	.container {
		width: 100%;
	}

	#menu {
border-bottom: 0;
margin-top: 0; 

	}

	#menu ul {
		display: none;
		height: auto;
		width: 100%;

	}

	#menu li {

		width: 50%;
		float: left;
		position: relative;
	}

	#menu a {

		width: 100%;
	}

	#menu a#pull {
		display: block;
		background-color: #7ba9e5;
		width: 100%;
		position: relative;
		text-align: left;
		text-indent: 25px;
	}

	#menu a#pull:after {
		content: "";
		background: url('../_images/nav-icon.png') no-repeat;
		width: 40px;
		height: 40px;
		display: inline-block;
		position: absolute;
		right: 1px;
		top: 0px;
		
	}
	#menu a:hover, #menu a:visited {
	background-color: #283744;
}
	#col-1, #col-2 {
		width: 90%;
		float: left;
	}

	#logo {
		width:50%;
	}

}

body {
	font-family: Roboto, Arial, Helvetica, sans-serif;
	font-size: 1em;
	line-height: 1.4em;
	width: 100%;
	margin: 0 auto;
	min-width: 322px;
	max-width: 480px;
}


/******* mission styles****/
.mission {
	width: 90%;
	margin: 0 auto;
	margin-bottom: 2.4em;
}

.mission h1 {
	font-weight: bold;
	font-size: 1em;
	text-align: center;
	margin-bottom: .5em;
}

.mission p {
	width: 90%;
	font-size: .8em;
	margin: 0 auto;
	line-height: 2;
}

/*columnas 1 y 2 de nosotros Movil*/
.col1 .nos {

	font: 1.8em OstrichSansBold;
	margin: .5em;
}

.col2 .nos {

	font: 1.8em Cantarell-Bold-webfont;
	margin-top: 1em;
	margin: .5em;
}
p.definen {
	font-size: 1em;
	margin: .5em;
}
.empresa {
	margin: .8em;
}

.camisa {
	font-family: 'Great Vibes', cursive; 
	font-size: 1.3em;
	margin: 1em;
}
#tecnolo {
	margin: 1em;
}
/* article styles */
article {
	width: 90%;
	margin: 0 auto;
}

article section {
	border-bottom: 2px solid rgb(76, 67, 65); 
	margin-bottom: 1.6em;
	overflow: hidden;
	position: relative;
	padding-bottom: 20px;
}

article h1 {
	background: url(../_images/icon_sprites_50.png) no-repeat right top;
	padding: 20px 0 5px;
}

article h2 {
	font: 2em Cardo, Georgia, serif;
	margin-bottom: 0;
}

.caption {

	font-size: 1em;
	margin-top: 1em;
}

article p.pubdate {
	font-size: 1em;
	text-transform: uppercase;
	margin-bottom: 1em;
}

article .preview {
	height: 175px;
}

.rest .preview {
	background: url(../_images/sm_icgfrontrest.jpg) no-repeat;
}

#rest .preview {

	background: url(../_images/soluRest_sm.jpg) no-repeat;
	margin-top: 5px;
}
.retail .preview {
	background: url(../_images/sm_retail_banner.jpg) no-repeat;
}

#retail .preview {
	background: url(../_images/retailsoft_sm.jpg) no-repeat;
}

.manager .preview {
	background: url(../_images/sm_manager_banner.jpg) no-repeat;
}

#manager .preview {
	background: url(../_images/managersoft_sm.jpg) no-repeat;
}

/*gallery styles*/
.gallery h1 {
	font: 4em OstrichSansBold;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	text-align: center;
	color: rgb(123, 121, 143);
}

.contact h2 #correo {
	color: orange;
}
.intro {
	margin-bottom: 2em;
}

.intro p {
	font-size: 1em;
	margin: 0 0 1em;
}

.photos img {
	width: 90%;
	margin: 0 auto;
	display: block;
	margin-bottom:.8em;
}
.photos li {
	position: relative;
	float: none;
}

#photos img {
	width: 10%;
	margin-bottom: .5em;
}

#photos li {
	position: relative;
	float: none;
}

#gallery #photos a:after {
	
	display: block;
	width: 90%;
	position: absolute;
	top: 0;
	left: 5%;
	line-height: 2em;
	color: white;
	text-align: center;
	background: rgba( 25, 25, 25, .5);
	z-index: 500;
}

.gallery .photos a:after {
	content: attr(title);
	display: block;
	width: 90%;
	position: absolute;
	top: 0;
	left: 5%;
	line-height: 2em;
	color: white;
	text-align: center;
	background: rgba( 25, 25, 25, .5);
	z-index: 500;
}

/*contact styles*/
#contact h2 {
	margin-bottom: 1em;
}

#ubicate {
	color: orange;
}
a.phone {
	padding: .5em .5em .5em 30px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAWBJREFUeNpiZMADfF2cEoCUAgN54MHmPfsW4JJkxGPpfCCVwEAZWAC0PJFoi4GWGgCp8wzUAYZAyy+gC7LgUCwAIpzd3BnEJCTIsu3VixcMe3fthJtFrMUMMIt19PXJsvjKxYswi7ECJoYBAqMWj1o8avGoxaMWj1o8+CzGWx/Pnj6VgYeHhyyDv3z5QromYNPHAYj/X75w4T8IVBUXotDLFi2Ey4HY2ORAGGQGyCxsdjBjE1RXUlSANfTu37vLcBnYmvj69SucvnLxAsOrly/BcjA2htzdu2AMBAtv3bv/gKQ4BjVdQG2ngtIyhhNHj8DpyNh4BkVlZbAciI1NDl+zZ0ATF67mLShe9sNamXt37mRwdneH06DgFBOXAMuB2Dr6BhhysBADAkdg8/YAWa1MkGGRsXFwejlQTldPHywHYmOTQ7KYJB/TvEGPNY6hChdQwdIF2CzF23eidacNIMAAxi/joc6jdacAAAAASUVORK5CYII=)no-repeat left center;
	border: 1px solid rgb(123, 121, 143);
	margin: 1em auto;
	width: 200px;
	display:block;
}

#contact li a {
	padding-left: 30px;
	line-height: 35px;
	font-size: 1em;
	display:block;
	background-size: 20%;
}
a.phone:hover {
	border: 1px solid rgb(123, 121, 143);
}

/*form styles*/
fieldset {
	width: 90%;
}

input[type="text"], input[type="email"], input[type="url"], textarea {
	width: 95%;
}

fieldset p {
	float: none;
	width: auto;
}

/*aside styles*/
aside {
	float: right;
	width: 95%;
	padding-right: 3.9%;
	text-align: center;
}

aside section {
	clear: both;
}

aside h2 {
	font-size: 1.6em;
	margin: 1em 0 .8em;
	padding-top: .8em;
	border-top: 2px solid rgb(76, 67, 65);
	text-align:center;
}

aside nav h2 {
	border: none;
	padding-top: 0;
}

aside nav {
	margin-bottom: 2em;
}

nav select {
	width: 200px;
	margin-left: 20%;
}
.archives  li a {
	line-height: 2.2em;
}

.connect .redes {
	color: green;
}

.contest img {
	display: block;
	margin: 0 auto .8em;
}
.contest h3 {
	margin: 0 auto;
	width: 80%;
}

.contest p {
	font-size: .9em;
	margin: 0 auto;
	margin-bottom: 1.5em;
	width: 80%;
	line-height: 1.5;
}

.enter a {
	display: block;
	margin-left: 120px;
}

.video {
	display: inline-block;
	margin-left: 30px;
}

.frontrestvideo {
	
	margin-left: 35px;
	 
	margin-bottom: 25px;
	}

.yogui{
	width:52%;
	min-width: 18em;
	margin: 2em;
	background:url(_images/yogui.png) no-repeat;
	position:relative;/*obligatorio absoluta en las imagenes para animar*/
	margin-left:15px;
	}

.correo {

	float:right;
	margin-right: 15px;
	margin-bottom: 15px;
	color: orange;
}



/*--  iconos sociales en moviles-------------------*/
.iconos_sociales {
	clear: both;
	list-style: none;
	float: left;
	min-width: 30px;
	width: 180px;
	margin-top: -10px;
	margin-left: 5em;
	padding-right: 15px;
	}

.iconos_sociales a {
	display: inline-block;
	background: url(../_images/iconos_sociales.png);
	height: 60px;

}
/*-------FLOAT ICONOS SOCIALES-------------------*/
.iconos_sociales li {

	float: left;
}
/*------------sprites-------------------------------*/
.instagram a {

	width: 40px;
	padding-right: 5px;
	background-position: 0 0;

}
.facebook a {

	width: 40px;
	padding-right: 5px;
	background-position: -50px 0;
}
.linkedin a {

	width: 40px;
	padding-right: 5px;
	background-position: -95px 0;
}
.twitter a {

	width: 40px; 
	padding-right: 5px;
	background-position: -140px 0;
}

/*------Alinear iconos sociales hover---------------------------------*/

.instagram a:hover:hover {

	width: 40px;
	background-position: 0 -70px;

}
.facebook a:hover {

	width: 40px;
	background-position: -50px -70px;
}
.linkedin a:hover {

	width: 40px;
	background-position: -95px -70px;
}
.twitter a:hover {

	width: 40px; 
	background-position: -140px -70px;
}

/****Fin iconos sociales móviles*****************/

/*Footer styles  moviles*/

#pageFooter {
	clear:both;
	overflow:hidden;
	padding-bottom: 1em;
	height: 300px;
}
.notice {
	width: 300px;
	text-align: center;
}

#pageFooter p {
	clear:both;
	margin-left: 5%;
	font-size: .7em;
	margin-top: -150px;

}

/*Menu del footer movil*/
#menufoot {
	margin-left: 20px;
	width: 90%;
	clear: both;
	text-align: center;
}

#menufoot li {

	display: inline;
	}


#menufoot a {
	
	display: inline;
	border-right: 1px solid #576969;
	color: #fff;
	padding: 5px;
	width: 100px;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	text-shadow:  1px 1px 0px #283744;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing: border-box;
	
}
#menufoot li:last-child a {
	border-right: 0;
}

#menufoot a:hover, #menufoot a:active {
	background-color: #7ba9e5;
}

#menufoot a:hover, #menufoot a:visited {
	background-color: #283744;
}


}
/*******tablet styles**********************/
@media only screen and (min-width:481px) and (max-width:768px) {

body {
	width: 100%;
	margin: 0 auto;
	min-width: 500px;
	max-width: 768px;
}
.photoGallery .justify {
	font-size: 1em;
	margin: 1.6em;
	width: 85%
}

/*-------  iconos sociales para tablets-------------------*/


.iconos_sociales {
	clear: both;
	list-style: none;
	float: left;
	min-width: 30px;
	width: 180px;
	margin-top: 50px;
	margin-left: 11em;
	padding-right: 15px;
	}

.iconos_sociales a {
	display: inline-block;
	background: url(../_images/iconos_sociales.png);
	height: 60px;

}
/*---------------------FLOAT ICONOS SOCIALES-------------------*/
.iconos_sociales li {

	float: left;
}
/*------------------------------sprites-------------------------------*/
.instagram a {

	width: 40px;
	padding-right: 5px;
	background-position: 0 0;

}
.facebook a {

	width: 40px;
	padding-right: 5px;
	background-position: -50px 0;
}
.linkedin a {

	width: 40px;
	padding-right: 5px;
	background-position: -95px 0;
}
.twitter a {

	width: 40px; 
	padding-right: 5px;
	background-position: -140px 0;
}

/*-----------------------------Alinear iconos sociales hover---------------------------------*/

.instagram a:hover:hover {

	width: 40px;
	background-position: 0 -70px;

}
.facebook a:hover {

	width: 40px;
	background-position: -50px -70px;
}
.linkedin a:hover {

	width: 40px;
	background-position: -95px -70px;
}
.twitter a:hover {

	width: 40px; 
	background-position: -140px -70px;
}

/*******Fin iconos sociales tablet*****************/

/*----------------------Fin SPRITES------------------------------*/

/*MENU Styles tablet */


#menu {
		width: 100%;
		height: auto;
		font-weight: bold;
		border-bottom: 0px solid #5898d3;
		}

#menu ul {
	
	padding: 0;
	height: 50px;
	width: 600px;
	
}

#menu li {

	display: inline;
	float: left;
	background-color: #75cfe5;
	
}

#menu a {
	
	display: inline;
	border-right: 1px solid #576969;
	color: #fff;
	padding: 5px;
	width: 100px;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	text-shadow:  1px 1px 0px #283744;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing: border-box;
	
}

#menu li:last-child a {
	border-right: 0;
}

#menu a:hover, #menu a:active {
	background-color: #7ba9e5;
}

#menu a:hover, #menu a:visited {
	background-color: #283744;
}

/*FIN Menu styles*/

/* mission styles*/
.mission {
	padding-left: 3.9%;
	overflow: hidden;
	background: url(../_images/sm_skyline.jpeg) no-repeat;
	margin-bottom: 3em;
	position: relative;
}

.mission h1 {
	font-weight: bold;
	font-size: 120%;
	color: #fff;
	letter-spacing:.1em;
	text-align: center;
	margin-top: 1em;
}

.mission p {
	width: 80%;
	margin: 0 auto;
	margin-top: 220px;
}

/*columnas 1 y 2 de nosotros Movil*/
.col1 .nos {

	font: 1.8em OstrichSansBold;
	margin: .5em;
}

.col2 .nos {

	font: 1.8em Cantarell-Bold-webfont;
	margin-top: 1em;
	margin: .5em;
}

p.definen {
	margin: .5em;
	font-size: 1em;
}
p.empresa {
	margin: 1em;
	font-size: 1em;
}

.camisa {
	margin: .5em;
}
/* article styles */
article {
	width: 92.2%;
	padding: 0 3.9%;
}

article section {
	border-bottom: 2px solid rgb(76, 67, 65);
	margin-bottom: 1.6em;
	overflow: hidden;
	position: relative;
	padding-bottom: 1.6em;
}

article h1 {
	background: url(../_images/icon_sprites_50.png) no-repeat right top;
	padding: 20px 0 5px;
}

article h2 {
	font: 2.4em Cardo, Georgia, serif;
	float: left;
	clear: left;
	margin-bottom: 0;
	width: 40%;
}

article p {
	font-size: 1em;
	margin: 0;
	float: left;
	clear: left;
	width: 40%
}

article p.pubdate {
	font-size: 1em;
	text-transform: uppercase;
	float: left;
	clear: left;
	margin: 0 0 4em;
	width: 40%;
}

article .preview {
	height: 175px;
	position: absolute;
	top: 0;
	right: 0;
	width: 55%;
}

/*INDEX PARA TABLET*/
.rest .preview {
	background: url(../_images/sm_icgfrontrest.jpg) no-repeat;
}

.retail .preview {
	background: url(../_images/sm_retail_banner.jpg) no-repeat;
}

.manager .preview {
	background: url(../_images/sm_manager_banner.jpg) no-repeat;
}
/*fin de index para tablet*/


/*gallery styles*/
.gallery h1 {
	font: 6.2em OstrichSansBold;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	color: rgba(123, 121, 143,.8)
}

.intro p {
	font-size: 1em;
	margin: 0 0 1em;
	float: none;
	clear: none;
	width: auto;
}

.intro {
	margin-bottom: 2em;
}

.photos {
	-moz-column-count: 2;
	-moz-column-gap: .5em;
	-webkit-column-count: 2;
	-webkit-column-gap: .5em;
	column-count: 2;
	column-gap: .5em;
	margin-bottom: 2em;
}

.photos img {
	width: 100%;
	margin-bottom: .5em;
}
.photos li {
	position: relative;
	float: none;
}
#photos img {
	width: 10%;
	margin-bottom: .5em;
}

#photos li {
	position: relative;
	float: none;
}

.gallery .photos a:after {
	content: attr(title);
	display: block;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	line-height: 2em;
	color: white;
	text-align: center;
	background: rgba( 25, 25, 25, .5);
	z-index: 500;
}
#gallery #photos a:after {
	
	display: block;
	width: 90%;
	position: absolute;
	top: 0;
	left: 5%;
	line-height: 2em;
	color: white;
	text-align: center;
	background: rgba( 25, 25, 25, .5);
	z-index: 500;
}

/*contact styles*/
#ubicate {
	color: orange;
}
.connect .redes {
	color: green;
}
#contact ul li {
	width: 38%;
	display: inline-block;
}

#contact h2 {
	font-size: 1.4em;
	float: none;
	clear: left;
	margin-bottom: 1.5em;
	width: auto;
}

.contact h2 #correo {
	color: orange;
}

h2 .enter a {
	margin-left: 15em;
	margin-bottom: 3em;
}

.archives  li a {
	line-height: 2.2em;
}
/*form styles*/
fieldset {
	width: 90%;
}

input[type="text"], input[type="email"], input[type="url"], textarea {
	width: 95%;
}

fieldset p {
	float: none;
	width: auto;
}

/*aside styles*/
aside {
	float: right;
	width: 95%;
	padding-right: 3.9%;
	text-align: center;
}

aside section {
	clear: both;
}

aside h2 {
	font-size: 1.2em;
	margin-bottom: 1em;
	border-top: 2px solid rgb(76, 67, 65);
	padding-top: .8em;
}

aside nav h2 {
	float: left;
	margin-right: 1em;
	font-size: 1.6em;
	border: none;
	padding-top: 0;
}

aside nav {
	margin-bottom: 2em;
}

nav select {
	float: left;
	margin-top: 1em;
	width: 200px;
}

.contest img {
	float: left;
	margin-bottom: 1em;
	margin-right: 1em;
}

.contest p {
	font-size: .9em;
	margin-bottom: 1.5em;
	width: 85%;
	line-height: 2;
}

.enter a {

	clear: both;
	display: block;
	margin-bottom: 3em;
}

.frontrestvideo {
	
	margin:6em;

	}
#exito {
	margin: 6em;
}	

.contest #papeleria img {
	margin-left:200px; 
}

.icgmanage {
	width: 90%;
	margin: 1em;

}
	
.yogui{
	width:52%;
	min-width: 18em;
	margin:0 auto 2em;
	background:url(_images/yogui.png) no-repeat;
	position:relative;/*obligatorio absoluta en las imagenes para animar*/
	margin-left:5px;
	
	
}

.correo {

	float:right;
	margin-right: 15px;
	margin-bottom: 15px;
	color: orange;
}

.camisa {
	font-family: 'Great Vibes', cursive; 
	font-size: 1.4em;
	margin: 1em;
}

#tecnolo {
	margin: 1em;
}



/*Footer styles  moviles*/

#pageFooter {
	clear:both;
	overflow:hidden;
	height: 250px;
}
.notice {
	width: 90%;
	
}

#pageFooter p {
	float: right;
	clear:both;
	margin-right: 4%;
	font-size: .9em;
	margin-top: -240px;
}

/*Menu del footer tablet*/
#menufoot {
	margin-left: 60px;
	width: 100%;
	clear: both;
	text-decoration: none;
}

#menufoot li {

	display: inline;
	
	
	
}


#menufoot a {
	
	display: inline;
	border-right: 1px solid #576969;
	color: #fff;
	padding: 5px;
	width: 100px;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	text-shadow:  1px 1px 0px #283744;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing: border-box;
	
}
#menufoot li:last-child a {
	border-right: 0;
}

#menufoot a:hover, #menufoot a:active {
	background-color: #7ba9e5;
}

#menufoot a:hover, #menufoot a:visited {
	background-color: #283744;
}

/*--Fin Menu del Footer Tableta--------*/
}
/************DESKTOP styles**************************************************/
@media only screen and (min-width:769px)  {

body {
	font-family: 'Roboto' ,Helvetica, sans-serif;
	width: 90%;
	margin: 0 auto;
	min-width: 1024px;
	max-width: 1280px;

}


.photoGallery .justify {
	font-size: 1.1em;
	margin: 1.6em;
	width: 85%
}

/* mission styles*/
.mission {
	height: 245px;
	padding-left: 3.9%;
	overflow: hidden;
	background: url(../_images/gallery_banner.jpg) no-repeat;
	margin-bottom: 4em;
	position: relative;
}

.mission h1 {
	font-size: 2.2em;
	color: #fff;
	padding-top: 290px;
	letter-spacing:.1em;
}

.mission p {
	width: 22%;
	padding: 1% 1% 0;
	height: 350px;
	font-size: 1em;
	color: #fff;
	background: rgba(88, 152, 211, .6);
	position: absolute;
	top: 0;
	right: 0;
}

/*columnas 1 y 2 de nosotros Desktop*/
.col1 .nos {

	font: 3em OstrichSansBold;
	margin-top: 0.1em;
}

.col2 .nos {

	font: 1.8em Cantarell-Bold-webfont;
	margin-top: 1em;
}
.col1 {
	line-height: 30px;
	float: left;
	width: 60%;
	margin-right: 5%;
	margin-left: 2%;

}
.col1 , p {
	
	padding-left: 5px;
	padding-right: 1px;

}

.col2 {
	line-height: 25px;
	float: right;
	width: 30%;

	padding-right: 2%;
}
.col2, p {
	padding-left:3px;
	
}
/*Fin columna 1 y 2 de nostros Desktop*/

/* article styles */
#caption {
	font-family: 'Roboto' ,Helvetica, sans-serif;
	font-size: 1.2em;
	margin-top: 1em;
	text-indent: 1px;
	
}

article {
	float: left;
	width: 70.1%;
	padding-left:3.9%;
}

article section {
	border-bottom: 2px solid rgb(76, 67, 65);
	margin-bottom: 2em;
}

article h1 {
	background: url(../_images/icon_sprites_50.png) no-repeat right top;
	padding: 20px 0 5px;
}

article h2 {
	font: 2.8em Cardo, Georgia, serif;
	float: left;
	margin-bottom: .1em;
}

article p {
	font-size:1.2em;
	margin: .8em 0;
}

article p.pubdate {
	font-size: 1.2em;
	text-transform: uppercase;
	float: right;
	padding-top: .8em;
	margin:0;
}

article .preview {
	height: 250px;
	clear:both;
}

.rest .preview {
	background: url(../_images/rest_banner.png) no-repeat;
}
#rest .preview {

	background: url(../_images/soluRest_lg.jpg) no-repeat;
	margin-right:20px;
}


.retail .preview {
	background: url(../_images/retail_banner.jpg) no-repeat;

}
#retail .preview  {

	background: url(../_images/retailsoft_lg.jpg) no-repeat;
}

.manager .preview {
	background: url(../_images/manager_banner.png) no-repeat;
}

#manager .preview {
	background: url(../_images/managersoft_lg.jpg) no-repeat;
}

/*gallery styles*/
.gallery h1 {
	font: 10em OstrichSansBold;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	color: rgba(123, 121, 143,.8)
}

.intro {
	margin-bottom: 1em;
}

.intro p {
	font-size: 1.1em;
}
.photos {
	-moz-column-count: 2;
	-moz-column-gap: 1em;
	-webkit-column-count: 2;
	-webkit-column-gap: 1em;
	column-count: 2;
	column-gap: 1em;
	margin-bottom: 2em;
}

.photos img {
	width: 100%;
	margin-bottom: .5em;
}

#photos img {
	width: 15%;
	margin-top: .2em;
}

#photos li {
	position: relative;
	float: none;
}

.photos li {
	position: relative;
	float: none;
}

.gallery .photos a:hover:after {
	content: attr(title);
	display: block;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	line-height: 3em;
	color: white;
	text-align: center;
	background: rgba( 25, 25, 25, .6);
	z-index: 500;
}

/*contact styles*/
.social {
	font-family: Roboto;
	font-size: 1em;
	float: left;
	width: 48%;
}


.contact {
	font-family: Roboto;
	float: right;
	width: 48%;
}
#contact ul {
	list-style: none;
	height: auto;
	margin-top: 1em;
}

#contact li {
	display: inline-block;
	width: 5px;
}

#contact h2 {
	float: none;
	margin: 1em 0 0;
}
#contact p + h2 {
	margin-top: 2em;
}

.contact h2 #correo {
	color: orange;
}

#ubicate {
	color: orange;
}
.connect .redes {
	color: green;
	font-size: 1em;
}
/*form styles*/
fieldset {
	width: 90%;
}

input[type="text"], input[type="email"], input[type="url"], textarea {
	width: 95%;
}

/*aside styles*/
aside {
	float: right;
	width: 20%;
	padding-right: 3.9%;
	
}

aside h2 {
	font-size: 1.2em;
	text-align: center;
	margin-bottom: 1em;
	clear: both;
}

aside nav {
	margin-bottom: 2em;
}

aside nav a {
	display:block;
	padding-left: 16px;
	border: none;
	color: rgb(76, 67, 65);
	line-height: 2em;
	margin-bottom: 1px;
}

aside nav li {
	background: rgb(196, 233, 237);
}

aside nav li:nth-child(even) {
	background: rgb(62, 171, 183);
}

aside nav a:hover {
	color: #fff;
	border:none;
	background: rgb(100, 98, 102);
}

.contest img {
	display: block;
	margin: 0 auto;
	margin-bottom: 1em;
}

.contest p {
	font-size: .9em;
	margin: 0 auto 1.5em;
}

.enter a {
	float: left;
	margin-left: 20px;
	margin-bottom: 20px;
}

.video {
	
	margin-left: 10px;
	margin-top: 56px;
	margin-bottom: 25px;

	}
 .frontrestvideo {
	
	
	margin-top: 56px;
	margin-right: 10px;
	margin-left: 15px;
	margin-bottom: 25px;
	padding-right: 10px;
	}

.yogui{
	width:52%;
	min-width: 15em;
	margin:0 auto 2em;
	background:url(_images/meeting.jpg) no-repeat;
	position:relative;/*obligatorio absoluta en las imagenes para animar*/
	margin:15px;
	
}
.camisa {
	font-family: 'Great Vibes', cursive; 
	font-size: 1.4em;
	margin: 1em;
}

.correo {

	float:right;
	margin-right: 15px;
	margin-bottom: 15px;
	color: orange;
}

/*footer styles Desktop*/
#pageFooter {
	clear:both;
	font-size: 1em;
	overflow:hidden;
	height: 250px;
}

.notice {
	clear: both;
	width: 100%;

	
}

#pageFooter p {

	clear: both;
	margin-top: -20%;
	text-align: center;
	
}

/*MENU FOOTER Styles DEsktop */

#menufoot {
	clear: both;
	margin-left: 250px;
	margin-top: 50px;
	width: 100%;
	text-decoration: none;
}

#menufoot li {

	display: inline;
	}

#menufoot a {
	
	display: inline;
	border-right: 1px solid #576969;
	color: #fff;
	padding: 5px;
	width: 100px;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	text-shadow:  1px 1px 0px #283744;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing: border-box;
	
}
#menufoot li:last-child a {
	border-right: 0;
}

#menufoot a:hover, #menufoot a:active {
	background-color: #7ba9e5;
}

#menufoot a:hover, #menufoot a:visited {
	background-color: #283744;
}

/*FIN Menu FOOTER styles Desktop*/

/*----iconos sociales Desktop------*/
.iconos_sociales {
	clear: both;
	list-style: none;
	width: 180px;
	margin-top: 15px;
	margin-left: 40%;
	padding-right: 15px;
	
}

.iconos_sociales a {
	display: block;
	background: url(../_images/iconos_sociales.png);
	height: 60px;

}
/*---------------------FLOAT ICONOS SOCIALES-------------------*/
.iconos_sociales li {

	float: left;
}
/*------------------------------sprites-------------------------------*/
.instagram a {

	width: 40px;
	padding-right: 5px;
	background-position: 0 0;

}
.facebook a {

	width: 40px;
	background-position: -50px 0;
}
.linkedin a {

	width: 40px;
	background-position: -95px 0;
}
.twitter a {

	width: 40px; 
	background-position: -140px 0;
}

/*---Alinear iconos sociales hover---------------------------------*/

.instagram a:hover:hover {

	width: 40px;
	background-position: 0 -70px;

}
.facebook a:hover {

	width: 40px;
	background-position: -50px -70px;
}
.linkedin a:hover {

	width: 40px;
	background-position: -95px -70px;
}
.twitter a:hover {

	width: 40px; 
	background-position: -140px -70px;
}

/*----------Fin SPRITES------*/
}



